.resumeImg {
  height: 240px;
  width: 240px;
  border-radius: 50%;
}

/* .resumeContainer {
  margin: 0 auto;
  width: 80%;
} */

.paragraph {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  word-wrap: break-word;
  max-width: 400px;
}

.date {
  color: #909090;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
}

.experience {
  color: #1a1a1a;
  font-weight: 500;
  font-size: 16px;
}

.nameSurname {
  color: #f93b1d;
  font-weight: 700;
  white-space: nowrap;
  font-size: 34px;
}

.contentTitle {
  color: #f93b1d;
  font-size: 18px;
  font-weight: 700;
}

.resumeTop {
  display: flex;
  align-items: center;
}

.contact {
  font-size: 18px;
  color: #1A1A1A;
  font-weight: 400;
}

.topRow {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.educationRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
