* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HelveticaNeue", sans-serif;
}

.bg-full {
  background: url("../src/assets/homepage-cover.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 25px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  width: 100%;
}

.mid {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.mid-img {
  position: absolute;
  right: 420px;
  bottom: 120px;
}

.line-home {
  margin-top: 26px;
  border: 1px solid #1a1a1a;
}

.addres-btn {
  padding: 18px 60px;
  border: none;
  border-radius: 8px;
  background: #1a1a1a;
  color: #ffffff;
  font-size: 20px;
  line-height: 100%;
  cursor: pointer;
}

.personInfo {
  display: flex;
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left {
  position: relative;
  background: #f9f9f9;
  flex: 5;
  padding-top: 54px;
}

.right {
  flex: 4;
}

.greentick {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 435px;
}

.main-left {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.iconBackDiv {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 20px;
}

.experienceNavigationDiv {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.experienceFormItem button {
  width: 151px;
  height: 48px;
  border: none;
  background: #6B40E3;
  border-radius: 4px;
  color: white;
}